{% extends "base.html" %}
{% load static %}
{% block extend-head %}
<link rel="stylesheet" href="{% static 'students/css/add_student.css' %}">
{% endblock extend-head %}
{% block app-content %}
<section class="add-student-section">
    <h2>Add New Student</h2>
    <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            {% if error %}
                    <div class="alert alert-danger">{{ error }}</div>
            {% endif %}
            <button type="submit" class="btn btn-primary">Add Student</button>
    </form>
</section>
{% endblock app-content %}
