{% extends "base.html" %}
{% load static %}

{% block extend-head %}
    <link rel="stylesheet" href="{% static '/dashboard/css/dashboard.css' %}">
{% endblock extend-head %}
{% block app-content %}
<section class="stats">
    <div class="stat-card">
        <h3>Books</h3>
        <p id="book-count">{{ total_books }}</p>
    </div>
    <div class="stat-card">
        <h3>Available Books(In the self)</h3>
        <p id="returned-count">{{ available_books }}</p>
    </div>
    <div class="stat-card">
        <h3>Borrowed Books</h3>
        <p id="borrowed-count">{{ borrowed_books }}</p>
    </div>

</section>
<section class="issue-section">
    <button class="issue-btn" onClick="window.location.href='/borrow/issue'">Issue Book</button>
</section>


{% endblock app-content %}
